{{#each this}}
<section class="competency" data-path="/competencies/{{path}}">
    <div class="box-container">
        <div class="box">
            <h1>{{title}}</h1>
            <div class="box-inner-container">
                <ol>
                {{#each topics}}
                    <li><a class="topic" href="/competencies/{{../path}}/{{path}}">{{title}}</a></li>
                {{/each}}
                </ol>
            </div>
        </div>
    </div>
</section>

{{#each topics}}
    <section class="topic" data-path="/competencies/{{../path}}/{{path}}">
        <div class="box">
            <h1>{{../title}} - {{title}}</h1>
            <div class="box-inner-container">
                <p>{{summary}}</p>
            </div>
        </div>
        <h3>Levels</h3>
        <div class="box-container">
        {{#each levels}}
            <section class="level box item">
                <h3>{{title}}</h3>
                <div class="box-inner-container">
                    <ul>
                    {{#each criteria}}
                        <li id="competency-{{../../path}}-{{../path}}-{{@index}}"><a href="#competency-{{../../path}}-{{../path}}-{{@index}}">{{this}}</a></li>
                    {{/each}}
                    </ul>
                </div>
            </section>
        {{/each}}
    </div>
    </section>
{{/each}}
{{/each}}