<li>
    <!-- href="/roles/{{path}}" -->
    <a class="js-list-trigger">{{title}}</a>
    <ul class="list-2">
    {{#each departments}}
        {{> navroles}}
    {{/each}}
    {{#each roles}}
        <li>
            <!-- href="/roles/{{path}}" -->
            <a>{{title}}</a>
            <ul>
            {{#each levels}}
                <li><a href="/roles/{{../path}}/{{path}}">{{title}}</a></li>
            {{/each}}
            </ul>
        </li>
    {{/each}}
    </ul>
</li>