<section class="role-level" data-path="/roles/{{role.path}}/{{level.path}}">
    <h1>{{level.title}} - <a href="/roles/{{role.path}}">{{role.title}}</a></h1>
    {{!-- <div class="box">
        <h3>Actions - BETA</h3>
        <div class="box-inner-container">
            <a href="/roles/{{role.path}}/{{level.path}}/review" class="button">Start Review</a>
        </div>
    </div> --}}
    <div class="box">
        <h3>Summary</h3>
        <div class="box-inner-container">
            <p>{{level.summary}}</p>
        </div>
    </div>
    
    <section class="box">
        <h2>Actions</h2>
        <div class="box-inner-container">
            <a href="/roles/{{role.path}}/{{level.path}}/review" class="button">Start a Review</a>
        </div>
    </section>

    <h3>Criteria</h3>
    <div class="box-container">
{{#each level.competencies.required}}
    {{> roleCompetencyBox this}}
{{/each}}
{{#each level.competencies.optional}}
    {{> roleCompetencyBox this}}
{{/each}}
    </div>
</section>

{{#each this.role}}
<section class="roles" data-path="/roles/{{path}}">
    <div class="box-container">
        <div class="box">
            <h1>{{title}}</h1>
            <div class="box-inner-container">
                <ol>
                {{#each departments}}
                    <li><a class="departments" href="/roles/{{path}}">{{title}}</a></li>
                {{/each}}
                {{#each roles}}
                    <li><a class="roles" href="/roles/{{path}}">{{title}}</a></li>
                {{/each}}
                </ol>
            </div>
        </div>
    </div>
</section>
{{/each}}