<section class="role-level-review" data-path="/roles/{{role.path}}/{{level.path}}/review">
    <h1>{{level.title}} - {{role.title}}</h1>
    <section class="tab-container box">
        <nav>
        {{#each level.competencies.required}}
            <a href="/roles/{{../role.path}}/{{../role.path}}/review#{{topic.path}}">{{topic.title}}</a>
        {{/each}}
        </nav>
    {{#each competencies.required}}
        <section class="role-competency" data-hash="{{topic.path}}">
            <h2><a href="/competencies/{{competency.path}}">{{competency.title}}</a> - <a href="/competencies/{{competency.path}}/{{topic.path}}">{{topic.title}}</a></h2>
            <p>Your expected level is {{level.title}}</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="2" rowspan="2">Criteria</th>
                        <th colspan="2">Strengths</th>
                        <th colspan="2">Weaknesss</th>
                    </tr>
                    <tr>
                        <th>Justification</th>
                        <th>Next Steps</th>
                        <th>Justification</th>
                        <th>Next Steps</th>
                    </tr>
                </thead>
                <tbody>
                {{#each topic.levels}}
                {{#ifLevelLowerOrEqual ../topic this ../level}}
                {{#each criteria}}
                    <tr class="criteria-{{@index}} {{levelRequirementClass ../../topic ../this ../../level}}">
                    {{#unless @index}}
                        <td rowspan="{{../criteria.length}}"><a href="/competencies/{{../competency.path}}">{{../title}}</a></th>
                    {{/unless}}
                        <td>{{this}}</th>
                            <td class="input"><textarea cols="40" rows="8"></textarea></td>
                            <td class="input"><textarea cols="40" rows="8"></textarea></td>
                            <td class="input"><textarea cols="40" rows="8"></textarea></td>
                            <td class="input"><textarea cols="40" rows="8"></textarea></td>
                    </tr>
                {{/each}}
                {{/ifLevelLowerOrEqual}}
                {{/each}}
                </tbody>
            </table>
        </section>
    {{/each}}
    {{#each competencies.optional}}
        <section class="role-competency box">
            <h2><a href="/competencies/{{competency.path}}/{{topic.path}}">{{topic.title}}</a> - {{level.title}}</h2>
            <h3><a href="/competencies/{{competency.path}}">{{competency.title}}</a></h3>
            <ul>
            {{#each level.criteria}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
        </section>
    {{/each}}
    </section>
</section>