<section class="role-level-review" data-path="/roles/{{role.path}}/{{level.path}}/review">
    <script>
        (function ($section) {
                        
            let $form = $section.querySelector('form');
            $form.addEventListener('submit', e => {
                var action = $form.action;
                e.preventDefault();

                var $inputs = $form.querySelectorAll('input:checked');

                var data = [...$inputs].reduce((agg, $input) => {
                    agg[$input.name] = $input.value;
                    return agg;
                }, {});

                window.authService.ensureAuth()
                    .then(user => window.userStorage.setUserReview(user.uid, data))
                    .then(id => navigate(action + '?reviewId=' + id));
                });

            });
        })(document.currentScript.parentElement);
    </script>
    <h1>{{level.title}} - {{role.title}}</h1>

    <form action="/roles/{{role.path}}/{{level.path}}/review/summary" class="review" method="GET">
    {{#each competencies.required}}
        {{> role-level-review-topic this}}
    {{/each}}
    {{#each competencies.optional}}
        {{> role-level-review-topic this}}
    {{/each}}
        <button type="submit">Save</button>
    </form>
</section>