<section class="role-competency box item">
    <h2><a href="/competencies/{{competency.path}}/{{topic.path}}">{{topic.title}}</a> - {{level.title}}</h2>
    <h3><a href="/competencies/{{competency.path}}">{{competency.title}}</a></h3>
    <div class="box-inner-container">
        <ul>
        {{#each level.criteria}}
            <li id="competency-{{../competency.path}}-{{../topic.path}}-{{@index}}"><a href="#competency-{{../competency.path}}-{{../topic.path}}-{{@index}}">{{this}}</a></li>
        {{/each}}
        </ul>
    </div>
</section>